 header .img{
  width: 50px;            
  height: auto;           
  align-items: center; 
  display: flex;          
  justify-content: center; 
  margin-right: 10px;    
}
.logo {
  height: 50px;           
}

h1 {
  color: #fafafa;
  margin: 0;               
  font-family: 'Roboto', sans-serif; 
}
